@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #000;
    color:#fff;
    margin:0px;
    padding:0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0px;
    margin-left:1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
}

header nav ul {
    display:flex;
    flex-direction: column;
    list-style: none;
    margin:0px;
    padding: 0px;

}

header nav ul li a{
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #ddd;
    transition: background-color 1s ease;
    border-bottom: 1px solid #bbb;
}

header nav ul li a:hover{
    background-color: #eee;
    color:#333
}

main {
    background-color: #ddd;
    color:#333;
    padding:0;
}

main h2 {
    margin:0.2px;
}

.hero-panel {
    position:relative;
    overflow: hidden;
    background-color:#21890c;
    height: 80vh;
}

.hero-panel img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.hero-panel div {
    display: flex;
    flex-direction: column;
    position:absolute;
    top:50%;
    left:50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 17px;
    transform: translateX(-50%) translateY(-50%);
}
.hero-panel div a{
    align-self: center;
    display:inline-block;
    padding:1rem 2rem;
    border: 1px solid #134e07;
    background-color: #21890c;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem auto;
    box-shadow: 3px 3px 5px #000;
    border-radius: 48px;
}
.hero-panel div.cuadrante4{
    top:75%;
    left:75%;
}
.hero-panel div.cuadrante2{
    top:25%;
    left:75%;
}

.Precios{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.card{
    border: 1px solid black;
    position: relative;
    width: 300px;
    overflow: hidden;
    background-color: white;
    border-radius: 13px;
}

.card img{
    width: 300px;
    height: 300px;
    object-position: center center;
    background-color: white;
}

.card h3, .card p{
    margin: 0px;
    padding: 0.5rem;
}

.card p{
    font-size: 0.8rem;
}

.card a{
    display: block;
    font-size: 0.8rem;
    text-decoration: none;
    padding: 0.75rem 0.5rem;
    text-align: center;
    background-color: aqua;
}

.card .precio{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 200px;
    right: 1rem;
    background-color: palevioletred;
    transform: translateY(-50%);
    font-weight: bold;
}

@media (min-width:720px){
    body {
        background-color: #134e07;
    }
    
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    header h1 {
        padding: 0px;
        text-align: left;
    }
        
    header nav ul{
        flex-direction: row;
        margin-right: 1rem;
    }

    header nav ul li a{
        border: none;
    }

    .Precios{
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 1.5rem;
    }

    .Precios .card:nth-child(1), .Precios .card:nth-child(3){
        transform: scale(0.8) translateY(10%);
    }
}

@media (min-width:1025px){
    body {
        background-color: #651900;
    }
}

.full-progress {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw; 
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nucleo1 {
    width: 20px;
    height: 20px;
    background-color: rgb(170, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 11;
    transform: translate(8px, -3px);
    animation: movimiento5 2.5s linear infinite;
    box-shadow: 1px 1px 3px #000;
}

.nucleo2 {
    width: 20px;
    height: 20px;
    background-color: rgb(170, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-1px, 8px);
    animation: movimiento5 2.5s linear infinite;
    box-shadow: 1px 1px 3px #000;
}

.nucleo3 {
    width: 20px;
    height: 20px;
    background-color: rgb(39, 0, 147);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-1px, -8px);
    animation: movimiento6 2.5s linear infinite;
    box-shadow: 1px 1px 3px #000;
}

.nucleo4 {
    width: 20px;
    height: 20px;
    background-color: rgb(39, 0, 147);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(8px, 3px);
    animation: movimiento6 2.5s linear infinite;
    box-shadow: 1px 1px 3px #000;
}

.nucleo5 {
    width: 20px;
    height: 20px;
    background-color: rgb(170, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-8px, -3px);
    animation: movimiento5 2.5s linear infinite;
    box-shadow: 1px 1px 3px #000;
}

.nucleo6 {
    width: 20px;
    height: 20px;
    background-color: rgb(39, 0, 147);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-8px, 3px);
    animation: movimiento6 2.5s linear infinite;
    box-shadow: 1px 1px 3px #000;
}

.nucleo7 {
    width: 20px;
    height: 20px;
    background-color: rgb(58, 4, 208);
    border-radius: 50%;
    position: absolute;
    z-index: 12;
    transform: translate(0px, 0px);
    animation: movimiento6 2.5s linear infinite;
    box-shadow: 1px 1px 3px #000;
}


.orbita1{
    width: 80px;
    height: 250px;
    border: solid 8px rgb(120, 120, 120);
    border-radius: 50%;
    transform: rotate(60deg);
    display: flex;
    animation: movimiento4 2.5s linear infinite;
}

.orbita2{
    width: 70px;
    height: 240px;
    border: solid 8px rgb(120, 120, 120);
    border-radius: 50%;
    transform: rotate(0deg);
    display: flex;
    position: absolute;
    animation: movimiento4 2.5s linear infinite;
}

.orbita3{
    width: 70px;
    height: 240px;
    border: solid 8px rgb(120, 120, 120);
    border-radius: 50%;
    transform: rotate(300deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation: movimiento4 2.5s linear infinite;
    
}

.electron1 {
    width: 30px;
    height: 30px;
    background-color: rgb(10, 238, 188);
    border-radius: 50%;
    animation: movimiento1 2.5s linear infinite;
    position: absolute;
    z-index: 200;
}

.electron2 {
    width: 30px;
    height: 30px;
    background-color: rgb(10, 238, 188);
    border-radius: 50%;
    animation: movimiento2 2.5s linear infinite;    
    position: absolute;
    transform: translate(0px, 70px); 
    z-index: 200;
}

.electron3 {
    width: 30px;
    height: 30px;    
    border-color: #000;
    background-color: rgb(10, 238, 188);    
    border-radius: 50%;
    animation: movimiento3 2.5s linear infinite;
    position: absolute;
    transform: translate(-100px, -55px);  
    z-index: 200;
}


@keyframes movimiento1 {
    0%{ 
        transform: translate(0, 130px); 
    }
    25% { 
        transform: translate(30px, 0); 
    }
    50% { 
        transform: translate(0, -130px); 
    }
    75% { 
        transform: translate(-30px, 0); 
    }
    100% { 
        transform: translate(0, 130px); 
    }
}


@keyframes movimiento2 {
    0% { 
        transform: translate(135px, 30px); 
    }
    25% { 
        transform: translate(-5px, 55px); 
    }
    50% { 
        transform: translate(-95px, 170px); 
    }
    75% { 
        transform: translate(30px, 130px); 
    }
    100% { 
        transform: translate(135px, 30px); 
    }
}

@keyframes movimiento3 {
    0% { 
        transform: translate(-100px, -55px); 
    }
    25% { 
        transform: translate(0px, -35px); 
    }
    50% { 
        transform: translate(100px, 55px); 
    }
    75% { 
        transform: translate(0px, 35px); 
    }
    100% { 
        transform: translate(-100px, -55px); 
    }
}

@keyframes movimiento4 {
    0% { 
        border: solid 8px rgb(120, 120, 120);
        border-bottom: #000;
        border-top: #000;
    }
    50% {        
        border: solid 8px rgb(224, 224, 224);
        border-bottom: #000;
        border-top: #000;
    }
    100% { 
        border: solid 8px rgb(120, 120, 120);
        border-bottom: #000;
        border-top: #000;        
    }
}

@keyframes movimiento5 {
    0% { 
        border: solid 8px rgb(255, 2, 2);        
    }
    50% { 
        border: solid 8px rgb(157, 1, 1);
    }
    100% { 
        border: solid 8px rgb(255, 2, 2);
    }
}

@keyframes movimiento6 {
    0% { 
        border: solid 8px rgb(3, 24, 211);        
    }
    50% { 
        border: solid 8px rgb(34, 0, 157);
    }
    100% { 
        border: solid 8px rgb(3, 24, 211);
    }
}



